@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    font-family: "Afacad Flux", sans-serif;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

/* Cabeçalho */

.container {
    background-color: rgb(235, 110, 0);
}

.banner {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

.search {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: 50px;
}

.search input {
    border: none;
    padding: 20px;
    height: 10px;
    width: 300px;
}

.btn button {
    border: none;
    padding: 17px;
    background-color: black;
    color: #fff;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fff;
    padding: 20px;
}

.nav li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

.nav li a{
    text-decoration: none;
    color: #fff;
}

.nav li.dropdown {
    position: relative;
}

.nav li .dropdown-content {
    display: none; 
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px; 
    right: 0; 
}

.nav li .dropdown-content li {
    display: block; 
    padding: 10px;
    text-align: left;
    background-color: black;
    cursor: pointer;
}


.nav li .dropdown-content li:hover {
    background-color: rgb(235, 110, 0);
}

.nav li.dropdown:hover .dropdown-content {
    display: block;
}


/* Destaques */

.main-featured h2{
    font-size: 32px;
    margin-top: 50px;
    padding: 0px 50px;
    font-weight: 700;
}

.featured {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 50px;
}

.post img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
}

h4 {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    width: 80px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
}

.post p {
    color: rgb(104, 104, 104);
}

hr {
    margin: 50px;
}

/* Novidades */

.main-new h2{
    font-size: 32px;
    margin-top: 50px;
    padding: 0px 50px 50px;
    font-weight: 700;
}

.new {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 40px;
}

.post-small {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 10px;
}

.post-small img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.post-small h4 {
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    width: 80px;
}

.post-small h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
}

.post-small p {
    color: rgb(104, 104, 104);
    margin-top: 5px;
}

.post-small h4, .post-small h3, .post-small p {
    margin-bottom: 5px; 
}

footer {
    text-align: center;
    background-color: black;
    color: #fff;
}

/* Especial de Halloween */

.main-special .title-container h2{
    font-size: 32px;
    margin-top: 50px;
    padding: 0px 50px 50px;
    font-weight: 700;
}

.carousel-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    max-width: 900px; 
    margin-left: 50px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.image-container {
    
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel img {
    width: 100%;
    height: 600px; 
    object-fit: cover;
    border-radius: 6px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    border: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 110, 0, 0.9); 
    transform: translateY(-50%) scale(1.1); 
}

.prev {
    margin-left: 10px;
    left: 15px; 
}

.next {
    margin-right: 10px;
    right: 15px;
}

.carousel-section {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
}

.carousel-description {
    flex-shrink: 0; 
    width: 500px; 
    margin: 0 20px; 
    padding: 10px; 
}

.carousel-description span {
    display: block;
    margin-top: 10px; 
    font-size: 14px; 
    color: rgb(104, 104, 104); 
}

#slide-title {
    font-size: 36px;
    font-weight: bold;
}

#slide-dev {
    color: #777;
    font-size: 16px;
}

#slide-type {
    color: #777;
    margin-bottom: 15px;
}

#slide-description {
    font-size: 20px; 
    color: rgb(104, 104, 104); 
}

#slide-platforms {
    display: block;      
    margin-top: 15px;    
    font-size: 12px;   
    color: rgb(80, 80, 80); 
    font-weight: bold;  
    margin-bottom: 20px;
}

.play-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #ff6600; 
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
}

.play-button:hover {
    background-color: black;
    color: #fff;
    transform: scale(1.1);
}

/* Reviews */

.reviews {
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}

.reviews h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.reviews-container {
    display: flex; 
    margin-top: 20px;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
}

.review {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center; 
    transition: transform 0.2s; 
}

.review:hover {
    transform: translateY(-5px); 
}

.review h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.review p {
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
}

.review-rating {
    font-size: 18px;
    color: gold;
}

#toggle-reviews {
    margin-top: 20px; 
    padding: 10px 15px; 
    background-color: rgba(255, 110, 0, 0.9); 
    color: white; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
}

#toggle-reviews:hover {
    background-color: black; 
    color: #fff;
    transform: scale(1.1); 
}

.hidden {
    display: none;
}

.view-all {
    display: block; 
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #ff6600;
    transition: color 0.3s;
}

.view-all:hover {
    color: black;
}

/* Footer */

footer {
    background-color: black;
    color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
}

footer h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

footer p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #ccc;
    line-height: 1.5;
}

footer .social-icons {
    margin-bottom: 40px;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:rgba(255, 110, 0, 0.9);
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

footer .social-icons a:hover {
    background-color: rgba(176, 76, 0, 0.9);
}

footer .contact-info {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    margin-bottom: 20px;
}

footer .contact-info .contact-item {
    display: flex;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
}

footer .contact-info .contact-item i {
    font-size: 1.5rem;
    color: rgba(255, 110, 0, 0.9);
    margin-right: 15px;
}

footer .contact-info .contact-item a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}

footer .contact-info .contact-item a:hover {
    text-decoration: underline;
}